#p_content{
	height: 92%;
}
header{
	position: relative;
	z-index: 2;
	background: #fff;
	box-shadow: 0 0 5px #999;
}
.h-title{
	height: 70px;
	padding: 10px 0;
}
.h-title h1{
	font-size: 1.5em;
	margin: 0;
}
header img{
	height: 50px;
}

.sec-block{
	display: inline-block;
	vertical-align: top;
	background: #fff;
	height: 100%;
}
#sec-nav{
	position: relative;
	z-index: 1;
	width: 20%;
	padding: 1%;
}
#sec-content{
	width: 80%;
	padding: 1%;
}
#sec-content img{
	width: 100%;
}
#sec-content div{
	width: 350px;
	margin: 10% auto !important;
}
.sec-filter{
	padding: 15px;
	border-bottom: 1px solid #ddd;
}
.sec-assistence{
	padding: 1%;
}
.asis-f{
	color:red;
}
.asis-a{
	color: green;
}
.sec-practicantes{
	height: 100px;
	overflow: auto;
}
.sec-report{
	height: 400px;
}
.loading{
	background: url(../img/util/gif/loading.gif);
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
	margin: 0 auto;
}
.form-control
{
	width: 20% !important;
	display: inline-block !important;
	margin: 5px;
}
.update_practicante,
.update_instituto,
.update_area{
	color: blue;
}
.update_practicante:hover,
.update_instituto:hover,
.update_area:hover{
	cursor:pointer;
	text-shadow: 0 0 1px blue;
}
.delete_practicante,
.delete_instituto,
.delete_area{
	color: red;
}
.delete_practicante:hover,
.delete_instituto:hover,
.delete_area:hover{
	cursor:pointer;
	text-shadow: 0 0 1px red;
}
